<!--//banner-->
<div class="about" id="about">
	 <div class="container">
			<div class="about-banner-grids ">
				 <div class="col-md-4 left-of-about">
						<h3>What We Do</h3>
						<div class=" about-matter-left">
							 <p>Emergency/Expedited Shipping, Air Ride Blanket Wrap Trucking.
									And International shipping services at a very affordable price
							 </p>
						</div>
						<div class="clearfix"></div>
				 </div>
				 <div class="col-md-4 about-pic">
				 </div>
				 <div class="col-md-4 right-of-about">
						<div class="about-airway colo">
							 <p>Our Airway international transportation services is the best in the industry since the year 2000
							 </p>
						</div>
				 </div>
				 <div class="clearfix"></div>
			</div>
			<div class="col-md-6 about-right-info">
			</div>
			<div class=" col-md-6 about-info-air">
				 <div class="air-list">
						<h4>Packaging and Storage</h4>
						<p>one-stop source for expert packaging, crating and shipment preparation.
							 With overseas partners and more than 250 service provider locations
							 throughout the U.S.,
							 every zip code is covered.
						</p>
				 </div>
				 <div class="air-list">
						<h4>Explore Our Facilities</h4>
						<p>Our facilities are upto date with the lastest technology to ensure the saftey of your package
						</p>
				 </div>
				 <div class="air-list">
						<h4>International Transport</h4>
						<p>international shipping services will help you take the "work" out of
							paperwork. As an IATA (International Air Transport Association) endorsed agent,
							we have the experience to walk you through the intricacies of rates, tariffs,
							 duties,
							taxes and other important international commerce concerns.
						</p>
				 </div>
			</div>
	 </div>
</div>
<!--// About-->
<!-- services-->
<div class="services" id="services">
	 <h3 class="title clr">Services</h3>
	 <div class="banner-bottom-girds">
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
				 <div class="white-shadow">
						<div class="white-left">
							 <span class="fa fa-truck banner-icon" aria-hidden="true"></span>
						</div>
						<div class="white-right">
							 <h4>Best Logistics</h4>
							 <p>WE have the best tracking and software to keep track and guide your package.</p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr">
				 <div class="white-shadow">
						<div class="white-left">
							 <span class="fa fa-clock-o banner-icon" aria-hidden="true"></span>
						</div>
						<div class="white-right">
							 <h4>Fast Delivery</h4>
							 <p>Our delivery rate is faster than most due to our ability to overcome any situation</p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
				 <div class="white-shadow">
						<div class=" white-left">
							 <span class="fa fa-lock banner-icon" aria-hidden="true"></span>
						</div>
						<div class=" white-right">
							 <h4>Secured Service</h4>
							 <p>Our services are secured with the best security and user authentication. </p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid colo">
				 <div class="white-shadow">
						<div class=" white-left">
							 <span class="fa fa-archive banner-icon" aria-hidden="true"></span>
						</div>
						<div class="white-right">
							 <h4>Packing</h4>
							 <p> our White Glove Logistics Division will provide you with fast and affordable blanket wrap shipping.</p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid gird-ser-clr2">
				 <div class="white-shadow">
						<div class="white-right">
							 <div class="white-left">
									<span class="fa fa-fighter-jet banner-icon" aria-hidden="true"></span>
							 </div>
							 <h4>Fly Anywhere</h4>
							 <p>When your shipping project requires the smoothest ride and most careful handling possible, anywhere in the world .</p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 its-banner-grid colo">
				 <div class="white-shadow">
						<div class="white-right">
							 <div class=" white-left">
									<span class="fa fa-home banner-icon" aria-hidden="true"></span>
							 </div>
							 <h4>Warehousing </h4>
							 <p>We store your package in an air tight and package preservation storage model.</p>
						</div>
						<div class="clearfix"> </div>
				 </div>
			</div>
			<div class="clearfix"> </div>
	 </div>
</div>
<!--// services-->
<!--testimonials-->
<div class="testimonials colo" id="testimonials">
	 <div class="container">
			<h3 class="title clr">testimonials</h3>
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				 <!-- Indicators -->
				 <ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				 </ol>
				 <!-- Wrapper for slides -->
				 <div class="carousel-inner">
						<div class="item active">
							 <div class="thumbnail adjust1">
									<div class="col-md-5 col-sm-5 right-says">
										 <%= image_tag "t1.jpg", class: "img-responsive" %>
									</div>
									<div class="col-md-7 col-sm-7 client-img">
										 <div class="caption">
												<p><span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Wonderful Service
													 Wonderful packaging, no broken items. Best service ever
													 .<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
												</p>
										 </div>
										 <blockquote class="adjust2">
												<h6>Lois Wlly</h6>
										 </blockquote>
									</div>
							 </div>
						</div>
						<div class="item">
							 <div class="thumbnail adjust1">
									<div class="col-md-5 col-sm-5 right-says">
										 <%= image_tag "t2.jpg", class: "img-responsive" %>


									</div>
									<div class="col-md-7 col-sm-7 client-img">
										 <div class="caption">
												<p><span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Nice Work Keep Up The Good Work
													 My best delivery service so far. Even picked up my good from my doorstep .<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
												</p>
										 </div>
										 <blockquote class="adjust2">
												<h6>Max Willson</h6>
										 </blockquote>
									</div>
							 </div>
						</div>
						<div class="item">
							 <div class="thumbnail adjust1">
									<div class="col-md-5 col-sm-5 right-says">
										 <%= image_tag "t3.jpg", class: "img-responsive" %>
									</div>
									<div class="col-md-7 col-sm-7 client-img">
										 <div class="caption">
												<p><span class="fa fa-quote-left client-quote" aria-hidden="true"></span>Couldn't Believe this
													Is there any way i can tip you guys. Great service .<span class="fa fa-quote-right client-quote" aria-hidden="true"></span>
												</p>
										 </div>
										 <blockquote class="adjust2">
												<h6>Kenny East</h6>
										 </blockquote>
									</div>
							 </div>
						</div>
				 </div>
				 <!-- Controls -->
				 <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="fa fa-chevron-left"></span> </a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="fa fa-chevron-right"></span> </a>
						</div> </div> -->
				 <!--// testimonials-->
			</div>
	 </div>
</div>

<!--partners
<div class="parnters" id="parnters">
	 <div class="container">
			<h3 class="title clr">Our Partners</h3>
			<div class="flexslider-info">
				 <section class="slider side-side">
						<div class="flexslider">
							 <ul class="slides">
									<li>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
												<%= image_tag "logo1.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo2.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo3.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo1.jpg", class: "img-responsive" %>
										 </div>
									</li>
									<li>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo1.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo2.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo3.jpg", class: "img-responsive" %>
										 </div>
										 <div class="col-md-3 col-sm-3 col-xs-3 usr-img">
											 <%= image_tag "logo1.jpg", class: "img-responsive" %>
										 </div>
									</li>
							 </ul>
						</div>
						<div class="clearfix"> </div>
				 </section>
			</div>
			<div class="clearfix"> </div>
	 </div>
</div>
 -->
<!--newsletter -->
<div class="buttom-w3">
	 <div class="container">
			<h3 class="title">Newsletter</h3>
	 </div>
	 <div class="news-info text-center">
			<h4>About The Best Offer</h4>
			<div class="post">
				 <form action="#" method="post">
						<div class="letter">
							 <input class="email" type="email" placeholder="Your email..." required="">
						</div>
						<div class="newsletter">
							 <input type="submit" value="Subscribe">
						</div>
				 </form>
			</div>
			<div class=" bottom-head text-center">
				 <p>We promise not to disturb much
				 </p>
			</div>
	 </div>
</div>
<!--//newsletter -->
