<!DOCTYPE html>
<html>
  <head>
    <title>Apl Courier services || International Delivery & Logistics Services</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="International shipping, cargo delivery" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    		function hideURLbar(){ window.scrollTo(0,1); } </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/header" %>
    <%= yield %>
    <!--footer -->
    <footer>
       <div class="container">
          <div class="col-md-6 col-sm-7 header-side">
             <div class="header-side">
                <div class="buttom-social-grids">
                   <ul>
                      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fa fa-rss"></span></a></li>
                      <li><a href="#"><span class="fa fa-vk"></span></a></li>
                   </ul>
                </div>
             </div>
             <p>©2015 APLSERVICES. All Rights Reserved | Developed by <a href="http://www.zonia.co" target="_blank">zonia solutions</a></p>
          </div>
          <div class="col-md-6 col-sm-5 header-right">
             <h2><a href="index.html">Apl Deliveries</a></h2>
          </div>
       </div>
    </footer>
    <!-- //footer -->
  </body>
</html>
